<form>
    <input type="text" name="first" value="Lauri 22">
    <input type="text" name="last" value="Smith">
    <input type="text" name="email" value="emial@email.com">
    <input type="text" name="password" value="secret">

    <input type="submit">

</form>

<script>
const myForm=document.querySelector('form');
const inputs = document.querySelectorAll('input');
myForm.addEventListener('submit', function(e){
    e.preventDefault();
    fetch('/adder', {
        method:'POST',
        body:JSON.stringify({
            first:inputs[0].value,
            last:inputs[1].value,
            email:inputs[2].value,
            password:inputs[3].value
        }),
        headers : {
            'Content-Type': 'application/json'
        }
    }).then(function(rep){
        return rep.json()
    }).then(function(body){
        console.log(body);
    })
})

</script>